@font-face {
  font-family: 'Circular Std';
  src: url('~assets/scss/fonts/CircularStd-Bold.eot');
  src: url('~assets/scss/fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
  url('~assets/scss/fonts/CircularStd-Bold.woff2') format('woff2'),
  url('~assets/scss/fonts/CircularStd-Bold.woff') format('woff'),
  url('~assets/scss/fonts/CircularStd-Bold.ttf') format('truetype'),
  url('~assets/scss/fonts/CircularStd-Bold.svg#CircularStd-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('~assets/scss/fonts/CircularStd-Book.eot');
  src: url('~assets/scss/fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
  url('~assets/scss/fonts/CircularStd-Book.woff2') format('woff2'),
  url('~assets/scss/fonts/CircularStd-Book.woff') format('woff'),
  url('~assets/scss/fonts/CircularStd-Book.ttf') format('truetype'),
  url('~assets/scss/fonts/CircularStd-Book.svg#CircularStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('~assets/scss/fonts/CircularStd-BlackItalic.eot');
  src: url('~assets/scss/fonts/CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('~assets/scss/fonts/CircularStd-BlackItalic.woff2') format('woff2'),
  url('~assets/scss/fonts/CircularStd-BlackItalic.woff') format('woff'),
  url('~assets/scss/fonts/CircularStd-BlackItalic.ttf') format('truetype'),
  url('~assets/scss/fonts/CircularStd-BlackItalic.svg#CircularStd-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std';
  src: url('~assets/scss/fonts/CircularStd-BoldItalic.eot');
  src: url('~assets/scss/fonts/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('~assets/scss/fonts/CircularStd-BoldItalic.woff2') format('woff2'),
  url('~assets/scss/fonts/CircularStd-BoldItalic.woff') format('woff'),
  url('~assets/scss/fonts/CircularStd-BoldItalic.ttf') format('truetype'),
  url('~assets/scss/fonts/CircularStd-BoldItalic.svg#CircularStd-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Circular Std';
  src: url('~assets/scss/fonts/CircularStd-Black.eot');
  src: url('~assets/scss/fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
  url('~assets/scss/fonts/CircularStd-Black.woff2') format('woff2'),
  url('~assets/scss/fonts/CircularStd-Black.woff') format('woff'),
  url('~assets/scss/fonts/CircularStd-Black.ttf') format('truetype'),
  url('~assets/scss/fonts/CircularStd-Black.svg#CircularStd-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Circular Std';
  src: url('~assets/scss/fonts/CircularStd-BookItalic.eot');
  src: url('~assets/scss/fonts/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'),
  url('~assets/scss/fonts/CircularStd-BookItalic.woff2') format('woff2'),
  url('~assets/scss/fonts/CircularStd-BookItalic.woff') format('woff'),
  url('~assets/scss/fonts/CircularStd-BookItalic.ttf') format('truetype'),
  url('~assets/scss/fonts/CircularStd-BookItalic.svg#CircularStd-BookItalic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Circular Std';
  src: url('~assets/scss/fonts/CircularStd-Medium.eot');
  src: url('~assets/scss/fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
  url('~assets/scss/fonts/CircularStd-Medium.woff2') format('woff2'),
  url('~assets/scss/fonts/CircularStd-Medium.woff') format('woff'),
  url('~assets/scss/fonts/CircularStd-Medium.ttf') format('truetype'),
  url('~assets/scss/fonts/CircularStd-Medium.svg#CircularStd-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Circular Std';
  src: url('~assets/scss/fonts/CircularStd-MediumItalic.eot');
  src: url('~assets/scss/fonts/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('~assets/scss/fonts/CircularStd-MediumItalic.woff2') format('woff2'),
  url('~assets/scss/fonts/CircularStd-MediumItalic.woff') format('woff'),
  url('~assets/scss/fonts/CircularStd-MediumItalic.ttf') format('truetype'),
  url('~assets/scss/fonts/CircularStd-MediumItalic.svg#CircularStd-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: auto;
}


@font-face {
  font-family: 'icons';
  src:  url('~assets/scss/fonts/icons.eot?25kahe');
  src:  url('~assets/scss/fonts/icons.eot?25kahe#iefix') format('embedded-opentype'),
  url('~assets/scss/fonts/icons.woff2?25kahe') format('woff2'),
  url('~assets/scss/fonts/icons.ttf?25kahe') format('truetype'),
  url('~assets/scss/fonts/icons.woff?25kahe') format('woff'),
  url('~assets/scss/fonts/icons.svg?25kahe#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
  content: "\e90e";
}
.icon-calendar:before {
  content: "\e90d";
}
.icon-sprout:before {
  content: "\e90a";
}
.icon-water:before {
  content: "\e90b";
}
.icon-sun:before {
  content: "\e90c";
}
.icon-aromatic:before {
  content: "\e905";
}
.icon-plants:before {
  content: "\e908";
}
.icon-fruits:before {
  content: "\e909";
}
.icon-vegetable:before {
  content: "\e906";
}
.icon-fruit:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e901";
}
.icon-user:before {
  content: "\e902";
}
.icon-bookmarked:before {
  content: "\e903";
}
.icon-bookmark:before {
  content: "\e904";
}
