/*COLORS*/
$black        : #222222;
$green        : #58B368;
$greenLight   : #eef7f0;
$grey         : #9A9A9A;
$greyLight    : #EFEFEF;
$red          : #d50000;
$white        : #ffffff;
$whiteLight   : #f6f6f6;
$yellow       : #FECE2F;

/*TYPO*/
@import "fonts.scss";
$Circular: "Circular Std", sans-serif;

/**** RESPONSIVE ****/
$mini-mobile: "screen and (max-width: 520px)";
$mobile: "screen and (max-width: 767px)";
$tablet: "screen and (max-width: 992px)";
$desktop: "screen and (max-width: 1200px)";
