.block-infos{
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: $greenLight;
  padding: 20px;
  margin-bottom: 3rem;
  color: $green;
  width: 100%;
  p{
    margin-bottom: 10px;
    max-width: 250px;
    b{
      font-weight: 900;
    }
  }
  .btn{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px 15px;
  }
}
