.page_404{
  text-align: center;
  padding: 20vh 0;
  h1{
    font-size: 100px;
    font-weight: 900;
  }
  h2{
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 16px;
  }
  a{
    margin: 20px auto 0;
    display: inline-block;
  }
}
